* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Dotum", Sans-Serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}

div, span {
  font-size: 16px;
}

textarea, input {
  font-size: inherit;
}
