* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Dotum", Sans-Serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  line-height: 1;
}

div, span {
  font-size: 16px;
  line-height: 1;
}

textarea, input {
  font-size: inherit;
  outline: 0;
  border: 0;
}

input:focus {
  border: 2px solid #1976D2;
  line-height: 1;
}

button {
  background: transparent;
  border: 0;
  line-height: 1;
  cursor: pointer;
  font-size: inherit;
}
